<h1>This is your console wishlist</h1>

<h2>Add purchased consoles to your owned list</h2>
<br>
<form method="POST" action="/consoles/owned">
  <% @consoles.each do |console| %>
    <% if console.owned == false %>
    <input type="radio" name="console_id" id="<%= console.id %>" value="<%= console.id %>">&nbsp<a href="/consoles/<%= console.id %>"><%= console.name %></a> Price: $<%= console.price %></input><br>
    <% end %>
  <% end %>

  <input type="submit" value="Add Selected Console(s) to Owned">
</form>
<br>
<h2>Add a new console to your wishlist</h2>
<form method="POST" action="/consoles/wishlist">

  <label for="name">Name:<label>
  <input type="text" name="name">

  <label for="price">Price:<label>
  <input type="text" name="price">

  <input type="submit" value="Add Console To Wishlist">
</form>
