<h1>These are your games</h1>

<% @games.each do |game| %>
  <% if game.owned == true %>
    <a href="/games/<%= game.id %>"><%= game.name%></a><br>
  <% end %>
<% end %>
<br>
<h2>Add a new game to your owned list</h2>
<form method="POST" action="/games/owned">

  <% @consoles.each do |console| %>
    <% if console.owned == true %>
      <input type="radio" name="console_id" id="<%= console.id %>" value="<%= console.id %>">&nbsp<a href="/consoles/<%= console.id %>"><%= console.name %></a></input><br>
    <% end %>
  <% end %>

  <label for="name">Name:<label>
  <input type="text" name="name">

  <input type="submit" value="Add Game To Owned">
</form>
